<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "alert" }) %>
	<div class="main">
		<div class="container">
			<div class="content">
				<div class="title">
					<h6>Your Alerts</h6>
				</div>
				<ul class="alerts">
          			<% notifications.forEach(notification => { %>
						<li class="hover">
							<a href="/tip/<%= notification.data.tipId %>"> 
								<div class="alert-main">
									<span><%= notification.message %>&nbsp;&nbsp;<b class="status <%= notification.data.status %>"><%= notification.data.status %></b></span>
									<i class="fas fa-angle-right"></i>
								</div>
								<div class="alert-bottom"> <span class="time"><%= notification.date %></span>
								</div>
							</a>
						</li>
          			<% }) %>
				</ul>

				<% if(notifications.length == 0){ %>
		            <div class="random">
						<img class="img-fluid" src="/image/logo/alert.png" alt="Alert Image">
						<p class="info">
		    	        	No notification yet!
		    	        </p>
			        </div>
		        <% } %>

			</div>
		</div>
	</div>
  <script src="/js/script.js"></script>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>
