<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "edit" }) %>
	<div class="main">
		
		<div class="container">

			<div class="content">

				<div class="title">
					<h6>Update Account</h6>
				</div>

				<div class="login">

					<div class="form-group">
						<input class="form-control form-control-lg" value="<%= user.fullname %>" type="text" placeholder="Full Name">
					</div>

					<div class="form-group">
						<input class="form-control form-control-lg" value="<%= user.username %>" type="text" placeholder="Username">
					</div>
				
					<div class="form-group">
						<input class="form-control form-control-lg" value="<%= user.email %>" type="email" placeholder="Email Address">
					</div>

					<div class="form-group">
						<input class="form-control form-control-lg" value="<%= user.phone %>" type="text" placeholder="Phone Number">
					</div>

          <!--
					<div class="form-group">
						<input class="form-control form-control-lg" type="password" placeholder="Password">
					</div>
          -->

					<div class="form-group">
						<textarea class="form-control form-control-lg" placeholder="Short Bio"><%= user.bio %></textarea>
					</div>

					<div class="form-group">
						<div class="custom-file">
							<input type="file" data-name="image" class="custom-file-input" accept='image/*'>
						<label class="custom-file-label">Profile Picture (Optional)</label>
						</div>
					</div>

					<div class="form-group">
						<input class="form-control form-control-lg" type="text" value="<%= user.twitter %>" placeholder="Twitter Handle (Optional)">
					</div>

					<div class="form-group">
						<input class="form-control form-control-lg" type="text" value="<%= user.telegram %>" placeholder="Telegram Channel (Optional)">
					</div>
					

					<div class="form-group">
						<button id="submit" type="submit" class="btn btn-success">Edit</button>
					</div>

				</div>

			</div>

		</div>
	
	</div>

  <script src="/js/script.js"></script>

<%- include ("footer.ejs") %>

</article>

<%- include ("end.ejs") %>
