<!-- <header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<a href="/">
					<i class="fab fa-bitcoin"></i>
					<img src="/image/logo/logo.png" class="text" alt="Bookmakr">
				</a>
			</div>

			<div class="link">
				<a class="bggrey" href="/login" title="Login"><i class="fas fa-lock"></i>Login</a>
				<a class="bggold" href="/register" title="Register"><i class="fas fa-user-plus"></i>Sign Up</a>
			</div>
		
		</div>			
		
	</div>

</header> -->

<% if(!loggedIn) { %>
<header class="navbar">
	
	<div class="container">

		<div class="head">
			
			<div class="logo">
				<i class="fab fa-bitcoin"></i>
			</div>

			<div class="loglink">
				<a href="/" class="<%= page == 'home' ? 'active' : '' %>">
          <i class="fas fa-lightbulb"></i>Tips
        </a>
				<a href="/tipsters" class="<%= page == 'tipsters' ? 'active' : '' %>">
          <i class="fas fa-star"></i>Tipsters
        </a>
				<a href="/login" class="<%= page == 'login' ? 'active' : '' %>">
          <i class="fas fa-lock"></i>Login
        </a>
			</div>	

			<div class="loglink">
				<a href="/register" class="passive <%= page == 'register' ? 'active' : '' %>">
          <i class="fas fa-user-plus"></i> Sign Up
        </a>
			</div>
		
		</div>			
		
	</div>

</header>
<% } %>

<% if(loggedIn) { %>
  <%- include("header_login") %>
<% } %>
