<%- include ("meta.ejs") %>
</head>
<body>
<article>
	<%- include ("header.ejs", { page: "home" }) %>
	<div class="main">
		<div class="container" id="app">
			<%- include ("tipsters.ejs") %>
			<%- include ("tips.ejs") %>
		</div>
	</div>
	<%- include ("footer.ejs") %>
</article>
<%- include ("end.ejs") %>
<script src="/js/script.js"></script>
<script src="/js/pages/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/index.js"></script>
