<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/image/logo/ico.png"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheet/style.css">

<!-- Primary Meta Tags -->
<title><%= meta.title %></title>
<meta name="title" content="<%= meta.title %>">
<meta name = "keywords" content = "Latest Bet Tips, Tipsters, Convert Booking Codes" />
<meta name="description" content="<%= meta.description %>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= meta.url %>">
<meta property="og:title" content="<%= meta.title %>">
<meta property="og:description" content="<%= meta.description %>">
<meta property="og:image" content="<%= meta.image %>">
<meta property="og:site_name" content="Bookmakr Nigeria"/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@thebookmakr">
<meta property="twitter:url" content="<%= meta.url %>">
<meta property="twitter:title" content="<%= meta.title %>">
<meta property="twitter:description" content="<%= meta.description %>">
<meta property="twitter:image" content="<%= meta.image %>">
