<%- include ("meta2.ejs") %>
<title>Post Conversion</title>
</head>
<body>

<div id="app">
	
	<%- include ("header_simple.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<div class="title">
					<h6>Post Conversion</h6>
				</div>

				<div class="login">
				
					<form>


						<div id="success" style="display: none" class="alert alert-success" role="alert">
							Tip posted and you can copy share link below
						</div>

						<div id="error" style="display: none" class="alert alert-danger alert-error" role="alert">
							Tip posted unsuccessfully, please try again later 
						</div>

						<!--
						<div id="linker" style="display: none" class="input-group mb-3">
							<input type="text" class="form-control form-control-lg link-input" value="" disabled>
						 	<button class="btn btn-secondary copy-button" type="button" style="border-radius:0;">Copy</button>
						</div>
			          -->

						<div id="linker" class="mb-3">	
              <p>From: <%= conversion.source %></p>
              <p>To: <%= conversion.destination %></p>
              <input class="code-input" type="text" disabled value="<%= conversion.code %>" />
						  <button class="btn btn-secondary mt-2 copy-button">Copy</button>	
						</div>

						<div class="form-group">
							<select v-model="tipster" class="conversion-status custom-select custom-select-lg">
								<option value="">Choose Status</option>
								<option value="success">Done</option>
								<option value="partial">Partial</option>
								<option value="failed">Failed</option>
							</select>
						</div>

						<div class="form-group">
							<input v-model="odds" class="form-control form-control-lg conversion-code" type="text" step="0.01" placeholder="Booking Code">
						</div>						
            <% if(conversion.status == "pending"){ %>
						<div class="form-group">
							<button class="resolve-conversion btn btn-book">Post</button>
						</div>                                                           
            <% } %>
            
            <% if(conversion.status != "pending"){ %>
              <p>This conversion request has been resolved</p>
            <% } %>
		
					</form>
	
				</div>

			</div>
		
		</div>

	</div>

</div>

<input type="text" id="copyinput" style="transform: translateY(-50000px);" />

</body>
</html>

<script type="text/javascript">
  let conversionRequestId = "<%= conversion._id %>"
</script>
<script src="/js/script.js"></script>
<script src="/js/post.js"></script>
