<%- include ("meta2.ejs") %>
<title>Post Conversion</title>
</head>
<body>

<div id="app">
	
	<%- include ("header_admin.ejs") %>

	<div class="main">

		<div class="container">

			<div class="content">

				<div class="title">
					<h6>Post Conversion</h6>
				</div>

				<div class="login">
				
					<form>


						<div id="success" style="display: none" class="alert alert-success" role="alert">
							Tip posted and you can copy share link below
						</div>

						<div id="error" style="display: none" class="alert alert-danger" role="alert">
							Tip posted unsuccessfully, please try again later 
						</div>

						<!--
						<div id="linker" style="display: none" class="input-group mb-3">
							<input type="text" class="form-control form-control-lg link-input" value="" disabled>
						 	<button class="btn btn-secondary copy-button" type="button" style="border-radius:0;">Copy</button>
						</div>
			          -->

						<div id="linker" class="mb-3">	
              <p>From: <%= conversion.source %></p>
              <p>To: <%= conversion.destination %></p>
              <input type="text" disabled value="<%= conversion.code %>" />
						  <button class="btn btn-secondary mt-2 copy-button">Copy</button>	
						</div>

						<div class="form-group">
							<select v-model="tipster" class="custom-select custom-select-lg">
								<option value="">Choose Status</option>
								<option>Done</option>
								<option>Partial</option>
								<option>Failed</option>
							</select>
						</div>

						<div class="form-group">
							<input v-model="odds" class="form-control form-control-lg" type="number" step="0.01" placeholder="Booking Code">
						</div>						

						<div class="form-group">
							<button id="submit" type="submit" class="btn btn-book">Post</button>
						</div>                                                           
		
					</form>
	
				</div>

			</div>
		
		</div>

	</div>

</div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/post.js"></script>
