<%- include ("meta.ejs") %>
</head>
<body>
<div id="app">
	<%- include ("header.ejs") %>

	<% tip = tipData.data %>

	<div class="main">

		<div class="container">

			<div class="content">

        <% const id = String(tip._id) %>
        <% const shortId = id.substr(id.length - 6) %>
				<h6 class="title">Tip #<span class="text-uppercase"><%= shortId %></span></h6>

				<hr>


				<div class="tip">
			
					<span class="tip_pic"><img src="<%= tip.tipster.image %>" alt="<%= tip.tipster.name %>"></span>

					<div class="tipmain">
				
						<h6><%= tip.tipster.name %></h6>
		
						<span><%= tip.tipDate %></span>

						<div class="sharethis-inline-share-buttons my-3"></div>

						<p><%= tip.description %></p>

						<div class="tipimg"><img src="<%= tip.image %>" /></div>

						<div class="divider">
						<span></span>
						<span>Booking codes</span>
						<span></span>
						</div>

						<ul class="betcodes">

							<% Object.keys(tip.bookmakers).forEach((bookmaker, i) => { %>
                <% if(tip.bookmakers[bookmaker]){ %>
                <li>
                  <% bdisplay = bookmaker %>
		  <% if(bookmaker == "onexbet"){ bdisplay = "1xbet" } %>
		  <% if(bookmaker == "twentytwobet"){ bdisplay = "22bet" } %>
                  <p class="text-capitalize"><%= bdisplay %></p>
                  <p class="code">
                    <% let code = tip.bookmakers[bookmaker] %>
                    <span data-bookmaker="<%= bookmaker %>"><%= code %></span>
                    <button @click="copy" class="btn btn-sm" href="#">
                      <i class="far fa-clone"></i> Copy
                    </button>
                  </p>
                </li>
                <% } %>
							<% }) %>


						</ul>

						<hr class="mt-2">

						<p class="mb-1">
							<b class="text-danger">Disclaimer:</b> 
							
							
							All tips on our website are retrieved from Twitter and Telegram and posted as it is with credit to the tipsters and therefore do not constitute betting advice in any way whatsoever from Bookmakr. 
							For more information please <a href="#disclaimer">click here</a>
							
						</p>
				
					</div>

					<div class="odds" style="border:0;padding:0;margin:0;width:auto;"><%= tip.odds %> <span>Odds</span></div>

				</div>

			</div>


		 	<!-- <div class="content"> 
            
            	<h6 class="title">More Info</h6>
            	<p style="padding:0.5rem 0.75rem 0">
            		Please note that some bookmakers booking codes might not contain all the selections in this tip because they don't have the markets. Also, if you need the booking codes for Nairabet, Betway, Melbet and many more, you can make a request in our <a href="https://t.me/bookmakr">telegram</a> group or tag us on twitter <a href="https://twitter.com/thebookmakr">@thebookmakr</a>
            	</p>
            
            </div> -->

		</div>

	</div>

</div>

<%- include ("footer.ejs") %>

<input type="text" id="copyinput" style="transform: translateY(-50000px);"/>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/tip.js"></script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2d64f1c125530012b63b0e&product=inline-share-buttons' async='async'></script>
