<%- include ("meta.ejs") %>
</head>
<body>
<article>

	<%- include ("header_login.ejs") %>

	<% tip = tipData.data %>

	<div class="main">

		<div class="container">

			<div class="content">

        		<% const id = String(tip._id) %>
        		<% const shortId = id.substr(id.length - 6) %>
				<div class="title">
					<h6>Tip #<span class="text-uppercase"><%= shortId %></span></h6>
					<a href="#disclaimer" title="Disclaimer"><i class="fas fa-exclamation-circle"></i></a>
				</div>

				<div class="s_tip">

					<div class="s_super">
						<div class="s_header">
							<img src="<%= tip.tipster.image %>" alt="<%= tip.tipster.name %>" class="img">
							<div class="s_details">
								<h6><%= tip.tipster.name %></h6>
								<span><%= tip.tipDate %></span>
							</div>
						</div>
						<div class="t_info s_info"><i class="far fa-bookmark"></i> <%= tip.odds %> <span>Odds</span></div>
					</div>

					<div class="s_main">

						<div class="sharethis-inline-share-buttons"></div>

						<p><%= tip.description %></p>

						<div class="s_img"><img src="<%= tip.image %>" /></div>

				        <% if(tip.image2){ %>
				          <div class="tipimg"><img src="<%= tip.image2 %>" /></div>
				        <% } %>

				        <% if(tip.image3){ %>
				          <div class="tipimg"><img src="<%= tip.image3 %>" /></div>
				        <% } %>

				        <% if(tip.image4){ %>
				          <div class="tipimg"><img src="<%= tip.image4 %>" /></div>
				        <% } %>

				    </div>

				</div>

				<%- include ("booking.ejs") %>

			</div>

			
			<%- include ("discussion.ejs") %>

		</div>

	</div>

	<%- include ("footer.ejs") %>

</article>

<%- include ("end.ejs") %>

<input type="text" id="copyinput" style="transform: translateY(-50000px);"/>

<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="/js/tip.js"></script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2d64f1c125530012b63b0e&product=inline-share-buttons' async='async'></script>
