<div class="content">		

  <% banner = "" %>
  <% if(meta.tipsterName){ banner = `from ${meta.tipsterName}` } %>
	<h6 class="title">Latest Tips <%= banner %></h6>
	
	<ul class="tips">

		<% for(tip of tips.data) { %>

		<li>
			
			<a href="<%= `/tip/${tip._id}` %>">

				<div class="tip hover">
				
					<span class="tip_pic"><img src="<%= tip.tipster.image %>" alt="<%= tip.tipster.name %>"></span>

					<div class="tipmain">
					
						<h6><%= tip.tipster.name %></h6>
		
						<span><%= tip.tipDate %></span>

						<p><%= tip.description %></p>
				
					</div>

					<div class="odds"><%= tip.odds %> <span>Odds</span></div>	
			
				</div> 

			</a>	
		
		</li>

		<% } %>

	</ul>
	
</div>
