<div class="content">		

  <% banner = "" %>
  <% if(meta.tipsterName){ banner = `from ${meta.tipsterName}` } %>
	<h6 class="title">Latest Tips <%= banner %></h6>
  
  <% if(tips){ %>	
	<ul class="tips">

		<% for(tip of tips) { %>

		<li data-id="<%= tip._id %>" class="hover">
			
			<a href="<%= `/tip/${tip._id}` %>">

				<div class="t_header">
					<img src="<%= tip.tipster.image %>" alt="<%= tip.tipster.name %>">
					<div class="t_details">
						<h6><%= tip.tipster.name %></h6>
						<span><%= tip.tipDate %></span>
					</div>
				</div>

				<div class="t_main">
					<p><%= tip.description %></p>
					<div class="t_info"><i class="far fa-bookmark"></i><%= tip.odds %> <span>Odds</span></div>
					<div class="t_info"><i class="far fa-comment-alt"></i><%= tip.comments %> <span>Discussions</span></div>
				</div>	

			</a>	
		
		</li>

		<% } %>

	</ul>
  <% } %>

	<div class="showmore">SHOW MORE TIPS</div>
	
</div>
