<%- include ("meta.ejs") %>

</head>
<body>
<article>

	<%- include ("header.ejs", { page: "tipsters" }) %>
	<div class="main">
		<div class="container" id="app">
			<div class="content">

				<div class="title">
					<h6>Verified Tipsters</h6>
				</div>
				
				<ul class="tipsters">

            <% for(tipster of tipsters) { %>

              <li class="hover">
                <a href="/profile/<%= tipster._id %>">
                  <img src="<%= tipster.picture %>" alt="<%= tipster.username %>">
                  <div class="details">
                    <h6><%= tipster.fullname %></h6>
                    <span>@<%= tipster.username %></span>
                    <p><%= tipster.bio %></p>
                  </div>
                  <div class="tipbox"><b>56</b> <span>Tips</span></div>
                </a>
              </li>

            <% } %>

				</ul>

			</div>

		</div>
	</div>

  <script src="/js/script.js"></script>

	<%- include ("footer.ejs") %>

</article>

<%- include ("end.ejs") %>
